{% extends "maintemplate.html"%}
{% block css %}
<style>
    * {
        border-style: dotted 1px black;
        font-family: "Noto Sans KR", sans-serif;
        font-optical-sizing: auto;
        list-style-type: none;
        text-decoration: none;
        color: black;
        text-decoration-line: none;


    }

    #field {
        font-size: larger;
        font-weight: bold;
    }

    a,
    li * {
        text-decoration: none;
        color: black;
        text-decoration-line: none;


        ;
    }
</style>
{% endblock css %}

{% block main_container %}
<h4 class="text-center m-3 fw-bold" width="100%" height="100px"> <a href="/trend/trend_site">관련사이트</a> </h4>

<div class="justify-content-center row">
    <div class="row col-7 justify-content-center" style="align-items: center;">
        <div class="col-3">
            <select class="form-control" style="border-radius: 25px;" name="key_name">
                <option value="total">전체</option>
                <option value="site_name">이름</option>
            </select>
        </div>
        <div class="col-6">
            <input class="form-control" style="border-radius: 0px;" placeholder="Enter Search!" name="search_word"
                value="{{request._query_params.word}}">
        </div>
        <div class="col-2">
            <button type="submit" style="border:none; background: none;" formaction="trend/trend_site"
                formmethod="get"><svg width="32" height="32" viewBox="0 0 80 80" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_7_45)">
                        <path
                            d="M5 40C5 20.67 20.67 5 40 5C59.33 5 75 20.67 75 40C75 59.33 59.33 75 40 75C20.67 75 5 59.33 5 40Z"
                            fill="#04CBFC" fill-opacity="0.47" shape-rendering="crispEdges" />
                    </g>
                    <path d="M35 50L45 40L35 30" stroke="white" stroke-width="5" stroke-linecap="round" />
                    <defs>
                        <filter id="filter0_d_7_45" x="0" y="0" width="80" height="80" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset />
                            <feGaussianBlur stdDeviation="2.5" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_45" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_45" result="shape" />
                        </filter>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
</div>
<br>
<br>
<div class="container" style="width: 80%">
    <!-- 카테고리별 탭 -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#category1" data-toggle="tab" data-category="전체">전체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#category2" data-toggle="tab" data-category="의료/법안">의료/법안</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#category3" data-toggle="tab" data-category="신약/개발">신약/개발</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#category4" data-toggle="tab" data-category="심포지엄/행사">심포지엄/행사</a>
        </li>
    </ul>
<br>
    {% for site in sites %}
    <div class="container" style="width: 80%;" onclick="location.href='{{site.site_link}}'">
        <div class="sub row justify-content-between">
            <h7 class="name col-3">
                {% if site.site_where==None %}
                {% else %}
                <a href="{{site.site_link}}" class="">
                    {{site.site_where}}
                    {% endif %}
                </a>
            </h7>
        </div>
        <div class="tit row">
            <h5 class="col-8">
                {% if site.site_name==None %}
                {% else %}
                <a href="{{site.site_link}}" class="">
                    {{site.site_name}}
                    {% endif %}
                </a>
            </h5>
            <a class="col-4" style="border:none; background: none;" href="{{site.site_link}}" target="_blank"><svg width="61"
                    height="32" viewBox="0 0 61 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_39_9)">
                        <path
                            d="M5 16C5 9.92487 9.92487 5 16 5H45C51.0751 5 56 9.92487 56 16V16C56 22.0751 51.0751 27 45 27H16C9.92487 27 5 22.0751 5 16V16Z"
                            fill="#04CBFC" fill-opacity="0.47" shape-rendering="crispEdges" />
                    </g>
                    <path d="M27 22L34 16L27 10" stroke="white" stroke-width="2" stroke-linecap="round" />
                    <defs>
                        <filter id="filter0_d_39_9" x="0" y="0" width="61" height="32" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset />
                            <feGaussianBlur stdDeviation="2.5" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_39_9" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_39_9" result="shape" />
                        </filter>
                    </defs>
                </svg>
            </a>
        </div>
    </div>

    <hr>
    {% endfor %}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {{ '' if pagination.has_previous_block else 'disabled' }}">
            <button style="border: none; background: none;" type="submit" class="page-link"
                formaction="/trend/trend_site/{{pagination.first_page}}">
                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 3L12 9L18 15" stroke="#696969" stroke-width="5" stroke-linecap="round" />
                    <path d="M10 3L4 9L10 15" stroke="#696969" stroke-width="5" stroke-linecap="round" />
                </svg>
            </button>
        </li>
        <li class="page-item {{ '' if pagination.has_previous_page else 'disabled' }}">
            <button style="border: none; background: none;" type="submit" class="page-link"
                formaction="/trend/trend_site/{{pagination.previous_page}}">
                <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 3L4 9L10 15" stroke="#696969" stroke-width="5" stroke-linecap="round" />
                </svg>
            </button>
        </li>
        {% for page_num in pagination.current_page_range %}
        <li class=" page-item {{ 'active' if page_num == pagination.current_page else '' }}">
            <button style="border: none; background: none; color: black;" type=" submit" class="page-link"
                formaction="/trend/trend_site/{{ page_num }}">
                {{page_num}}
            </button>
        </li>
        {% endfor %}
        <li class=" page-item {{ '' if pagination.has_next_page else 'disabled' }}">
            <button style="border: none; background: none;" type=" submit" class="page-link"
                formaction="/trend/trend_site/{{ pagination.next_page }}">
                <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 15L9 9L3 3" stroke="#696969" stroke-width="5" stroke-linecap="round" />
                </svg>
                <path d="M4 0V22" stroke="#EDEDED" stroke-width="7" />
                </svg>
            </button>
        </li>
        <li class=" page-item {{ '' if pagination.has_next_block else ' disabled' }}">
            <button style="border: none; background: none;" type=" submit" class="page-link"
                formaction="/trend/trend_site/{{ pagination.last_page }}">
                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 15L9 9L3 3" stroke="#696969" stroke-width="5" stroke-linecap="round" />
                    <path d="M11 15L17 9L11 3" stroke="#696969" stroke-width="5" stroke-linecap="round" />
                </svg>
            </button>
        </li>
    </ul>
</nav>
{% endblock main_container %}